ul#menu
	li#home(ng-class="active('/home')") Home
	li#regions(ng-class="active('/regions')") Regions
	li#calendar(ng-class="active('/calendar')") Calendar
	li#events(ng-class="active('/events')") Events
	li#resources(ng-class="active('/resources')") Resources
	li#media(ng-class="active('/media')") Media
	li#partners(ng-class="active('/partners')") Partners
